@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    overflow: hidden;
    background-image: url(img/mapstars.gif);
}

#score {
    color: red;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Electrolize', sans-serif;
    text-transform: uppercase;
}

.invader {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 50px;
    height: 100%;
}

div.invadersLine1 {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 50px;
}

div.invadersLine2 {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 50px;
}

div.invadersLine3 {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 50px;
}

#missile {
    position: absolute;
    left: 50%;
    top: 95%;
    background: red;
    border: 5px solid rgb(255, 57, 57);
    border-radius: 25%;
    box-shadow: 0 0 12px red;
    z-index: -1;
    width: 0.5%;
    height: 3%;
    transition: left 0.1s ease-out;
}

.dead {
    background-image: url(img/boum.gif) !important;
}

#ship {
    background-image: url(img/Ship.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 47.75%;
    width: 100px;
    height: 100px;
    transition: left 0.1s ease-out;
}